<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastre-se</title>
  <script src="https://cdn.tailwindcss.com?"></script>
  <script src="https://unpkg.com/htmx.org@2.0.3"
    integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="flex h-screen justify-center items-center">
    <div class="w-1/2 h-3/4 flex flex-col justify-center items-center gap-8 container bg-slate-100 p-6 rounded-lg">
      <h1 class="text-2xl text-center">Informe suas crendenciais</h1>
      <div class="w-3/4">
        <form action="/user/register{{projectAuthorizationParameters}}" method="post" hx-boost="true">
          <div class="flex flex-col justify-center items-center space-y-4">
            <div class="flex flex-row gap-4">
              <div class="flex flex-col">
                <label for="name">Name</label>
                <input type="name" id="name" name="name" class="p-2 border border-slate-300 rounded-md" />
              </div>
              <div class="flex flex-col">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="p-2 border border-slate-300 rounded-md" />
              </div>
            </div>
            <div class="flex flex-row gap-4">
              <div class="flex flex-col">
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone" class="p-2 border border-slate-300 rounded-md" />
              </div>
              <div class="flex flex-col">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="p-2 border border-slate-300 rounded-md" />
              </div>
            </div>
            <button type="submit" class="w-full p-2 bg-slate-400 hover:bg-slate-500 text-white rounded-md">
              Registrar
            </button>
            <a href="/user{{projectAuthorizationParameters}}"
              class="w-full p-2 rounded-md border-2 border-slate-400 text-center hover:bg-slate-200">
              Autenticar-se
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>